<div id="product_list" >
  <h1>Listing products</h1>
  <table>
    <% @products.each do |product| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %> " >
          <td>
          <figure class="relative max-w-sm transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0">
          <a href="#">
            <img class="rounded-lg" src=<%= asset_path("aidan.jpg") %> alt="image description">
          </a>
          <figcaption class="absolute px-4 text-lg text-white bottom-6">
              <p>Do you want to get notified when a new component is added to Flowbite?</p>
          </figcaption>
          </figure>
          </td>
        <td class="list_description" >
          <dl>
          <dt><%= product.title %></dt>
          <dd><%= truncate(strip_tags(product.description), :length => 80) %></dd>
          </dl>
        </td>
        <td class="list_actions" >
        <ul>
          <li><button class="rounded-sm"><%= link_to 'Show', product %></button></li>
          <li><button class="rounded-none"><%= link_to 'Edit', edit_product_path(product) %></button></li>
          <li><button class="rounded-none"><%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %></button></li>
        </ul>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<br />
<%= link_to 'New product', new_product_path %>